<html>
  <head>
  </head>
    <body>
      <h1>Hello {{name}}</h1>
      <h1>pick a number between 1 and 10</h1>
      <h1>so I can tell you your fortune?</h1>
      <body>
        <form method="Post" action="/final">

          <input type="radio" name="number" value="1">1
          <input type="radio" name="number" value="2">2
          <input type="radio" name="number" value="three">3
          <input type=radio name="number" value="four">4
          <input type="radio" name="number" value="five">5
          <input type="radio" name="number" value="six">6
          <input type="radio" name="number" value="seven">7
          <input type="radio" name="number" value="eight">8
          <input type=radio name="number" value="nine">9
          <input type="radio" name="number" value="ten">10
          <input type="submit" value="submit">
        </form>
        <form>
          <p>pick a number form 1-10:</p>
          <input type="number" name="quantity" min="1" max="10">
        </form>
    </body>
      <footer>
        <p>page 2</p>
      </footer>

</html>
